# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Gradle files
nbproject/private/*
.gradle/*
build/*
nbbuild/*
dist/*
nbdist/*
nbactions.xmlnb-configuration.xml


#Local config
local.properties
.properties
project.properties
*.properties
project.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
nbproject/private/private.xml
*.properties
build/built-jar.properties
dist/AppClinica.html
dist/AppClinica.jnlp
dist/web-files/dtjava.js
nbproject/private/private.properties
nbproject/project.properties
